{% extends 'base.html.twig' %}
{% block body %}
    <div>
        <script src="{{ asset('js/home.js') }}"></script>
        <link rel="stylesheet" href="{{ asset('styles/home.css') }}" />
        <div id="welcome-img" class="head-img d-block">
            <div {{ stimulus_controller('reload-content', {
                url: '/register',
                params: {
                    'hello': 1,
                    'bye': 2
                },
                loader: 'loader',
                display: 'flex'
            }) }}>
            <div {{ stimulus_target('reload-content', 'content') }}></div>
            <h1 data-action="click->reload-content#reload">Welcome to Menucard</h1>
            </div>
            <div
                data-controller="home"
                {{ stimulus_controller('home', {
                    selectedCity: ''
                }) }}
            >
                <div id="postcode-align-container" class="flex-align-justify-center">
                    <div
                        id="postcode-container"
                        class="flex-align-justify-center city-select"
                    >
                        <h3>Please enter your zipcode:</h3>
                        <div class="input-group mb-1">
                            <input
                                type="text"
                                class="form-control"
                                placeholder="Zipcode"
                                aria-label="Zipcode"
                                data-home-target="zipInput"
                                {{
                                    stimulus_action('home', 'autofillPostalCode', 'input')
                                    |
                                    stimulus_action('home', 'adaptFontSize', 'input')
                                }}
                                maxlength="5"
                            />
                        </div>
                        {% for i in 0..10 %}
                            <div 
                                data-home-zip-code-value=""
                                data-action="click->home#selectCityPostalCode"
                                class="city-select-element flex-align-justify-center disabled"
                            >
                                <span></span>
                            </div>
                        {% endfor %}
                        <div id="zipcode-error" class="disabled">
                            <span class="error-span" style="text-shadow: none;">
                                An error occured. Please reload and try again.
                            </span>
                        </div>
                    </div>
                    <div
                        data-home-target="selectedCity"
                        id="selected-city-container"
                        class="flex-align-justify-center city-select disabled"
                    >
                        <div id="selected-city">
                            <h3 >You currently have selected:</h3>
                            <div class="flex-align-justify-center">
                                <h3 id="selected-city-span"></h3>
                                <span
                                    {{ 
                                        stimulus_controller('submit-modal', {
                                            title: 'Do you want to proceed?',
                                            text: 'Do you want to discard your selection?',
                                            cancelBtnTxt: 'Keep',
                                            confirmBtnTxt: 'Discard',
                                            successTitle: 'Action successful',
                                            successText: 'Please select a city of your choice.',
                                            successTimer: 2000,
                                            showAbort: true,
                                            abortTimer: 2000

                                        })
                                        |
                                        stimulus_controller('home') 
                                    }}
                                    {{
                                        stimulus_action (
                                            'submit-modal', 'defaultConfirmModal', 'home:unselectClicked'
                                        )
                                        |
                                        stimulus_action (
                                            'home', 'unselectClicked', 'click'
                                        )
                                    }}
                                    class="close-x h3"
                                    style="margin-left: 5px;"
                                    
                                >
                                    X
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="partnerPresentation" class="disabled"></div>
            </div>
        </div>
        <BR />
        <div class="container text-center">
            <span style="font-size: 2em;" class="badge badge-pill badge-danger">
                Inspiration
            </span>
        </div>
        <div class="container">
            <h1 class="text-center">Get 
                <span class="text-uppercase font-weight-bold text-danger">
                    inspired 
                </span>
                by a pullout of our delicious
                <span class="text-uppercase font-weight-bold text-danger">
                    meals
                </span>
            </h1> 
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-7">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div
                                class="carousel-item active"
                                data-home-target="carousalImgs"
                                {{ stimulus_controller('home', {
                                    selectedCarousalImg: 0
                                }) }}
                                data-action="click->home#gotoProduct"
                            >
                                <img class="d-block w-100 vh-75 fit-cover"
                                    src="{{ asset('images/paella.png') }}" alt="Paella">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5>Paella</h5>
                                    <p>Feels vibes from the sun...</p>
                                </div>
                            </div>
                            <div
                                class="carousel-item"
                                data-home-target="carousalImgs"
                                {{ stimulus_controller('home', {
                                    selectedCarousalImg: 1
                                }) }}
                                data-action="click->home#gotoProduct"
                            >
                                <img class="d-block w-100 vh-75 fit-cover"
                                    src="{{ asset('images/spaghetti.png') }}" alt="Spaghetti Bolognese">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5>Spaghetti Bolognese</h5>
                                    <p>Classic, but not outdated!</p>
                                </div>
                            </div>
                            <div
                                class="carousel-item"
                                data-home-target="carousalImgs"
                                {{ stimulus_controller('home', {
                                    selectedCarousalImg: 2
                                }) }}
                                data-action="click->home#gotoProduct"
                            >
                                <img class="d-block w-100 vh-75 fit-cover"
                                    src="{{ asset('images/tiramisu.png') }}" alt="Tiramisu">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5>Tiramisu</h5>
                                    <p>Sweet, beloved dessert!</p>
                                </div>
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
                <div class="col-1"></div>
                <div class="col-2" style="overflow: hidden;">
                    <div style="height: 100%; width: 100%;"
                        class="font-weight-light text-uppercase flex-wrap-center">
                        <span style="opacity: 0;" class="fsize-4vh">
                            Slide through our promotions 
                        </span>
                        <span style="opacity: 0;" class="fsize-4vh">
                            to begin your <span>adventure </span>
                        </span>
                        <span style="opacity: 0;" class="fsize-4vh">
                            in the jungle <span>of tastes...</span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
