{% extends 'base.html.twig' %}

{% block title %}Hello MemoryGameController!{% endblock %}

{% block body %}
<div id="gameboard" class="container">
    <div id="game_menu" class="container">
        <div class="row">
            <div class="col">
                <span class="memorygame_moves">Moves: </span>
                <span id="memorygame_moves" class="memorygame_moves">0</span>
            </div>
            <div class="col">
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-secondary active" style="color: lightgreen;">
                      <input type="radio" name="options" id="option1" autocomplete="off" checked> Easy
                    </label>
                    <label class="btn btn-secondary" style="color: yellow;">
                      <input type="radio" name="options" id="option2" autocomplete="off"> Medium
                    </label>
                    <label class="btn btn-secondary" style="color: red;">
                      <input type="radio" name="options" id="option3" autocomplete="off"> Hard
                    </label>
                  </div>
            </div>
            <div class="col">
                <button id="memorygame_reset" type="button" class="btn btn-dark  align-top">
                    Reset
                </button>
            </div>
        </div>
    </div>
    <div id="memorygame">
        <div id="memorycard_template" class="memorycard_wrapper" style="display: none;" >
            <img src="" class="memorycard" />
        </div>
        
    </div>
</div>
<footer>
    <script>
        const imgs = [
            "{{ asset('images/buffet.jpg') }}",
            "{{ asset('images/paella.jpg') }}",
            "{{ asset('images/spaghetti.jpg') }}",
            "{{ asset('images/tiramisu.jpg') }}"
        ];
    </script>
    <script src="{{ asset('js/games/memory.js') }}"></script>
</footer>
{% endblock %}
