<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Menükarte{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block metas %}{% endblock %}
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('styles/home.css') }}" />
            <link rel="stylesheet" href="{{ asset('styles/game.css') }}" />
            <link rel="stylesheet" href="{{ asset('styles/utility.css') }}" />
        {% endblock %}

        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
            <script src="{{ asset('/js/home.js') }}"></script>
            <script src="{{ asset('/js/axion.js') }}"></script>
            <script src="{{ asset('/js/utility.js') }}"></script>
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body class="loadingFadeTransition">
        <nav
            class="navbar navbar-expand-lg navbar-light bg-light"
            {{  
                stimulus_controller('form-modal', {
                    title: 'Register',
                    modalWidth: '50%',
                    confirmBtn: 'Register',
                    confirmColor: '#0d6efd',
                    cancelBtn: 'Cancel',
                    cancelColor: '#6c757d',
                    colorMultiplier: '.75'
                })
            }}
            data-form-modal-content-value="{{ path('register') }}"
        >
            <a class="navbar-brand mx-3" href="{{ path('home') }}">Menucard</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse container-fluid" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Gerichte
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Vorspeisen</a>
                        <a class="dropdown-item" href="#">Hauptgerichte</a>
                        <a class="dropdown-item" href="#">Nachspeisen</a>
                        <a class="dropdown-item" href="#">Getränke</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Alle Gerichte</a>
                        </div>
                    </li>
                    
                </ul>
                 <ul style="margin-right: 10vw !important;" class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a
                            class="nav-link dropdown-toggle"
                            id="navbarDropdown"
                            role="button"
                            data-bs-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false"
                            data-controller="login"
                            style="cursor: pointer;"
                        >
                            Login
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a
                            class="dropdown-item"
                            style="cursor: pointer;"
                            data-controller="login submit-modal"
                            {{
                                stimulus_action(
                                    'login', 'login', 'click'
                                )
                                |
                                stimulus_action(
                                    'submit-modal', 'defaultEmailLoginModal', 'login:login'
                                )
                                |
                                stimulus_controller('submit-modal', {
                                    title: 'Enter your login details',
                                    successTimer: 3000,
                                    enterMailTxt: 'Enter your mail address',
                                    mailPlaceholder: 'Your address',
                                    enterPasswordTxt: 'Enter your secret password',
                                    missingText: 'Whoops, seems not all data were sent',
                                    unknownText: 'Uh oh, an unknown error occured, try again later',
                                    successResponse: 'successful',
                                    failureResponse: 'failed',
                                    incompleteResponse: 'partial'
                                })
                            }}
                        >
                            Login
                        </a>
                        <div class="dropdown-divider"></div>
                        <a
                            class="dropdown-item"
                            style="cursor: pointer;"
                            {{
                                stimulus_action(
                                    'form-modal',
                                    'openModal',
                                    'click'
                                )
                            }}
                        >
                            Register
                        </a>
                        </div>
                    </li>
                 </ul>
            </div>
            {{ include('_basic_modal.html.twig') }}
        </nav>
        <div class="loader flex-align-justify-center" id="loader">
            <div class="loaderSpinner"></div>
        </div>
        {% block body %}{% endblock %}
    </body>
</html>
