{% extends 'base.html.twig' %}

{% block title %}Hello ImagesliderController!{% endblock %}
{% block body %}
<!--<div id="image_slider" class="container" style="text-align: center;">
    <div id="image_slider_hero_image">
        <img class="imageSliderHeroImage" src="{{ asset('images/buffet.jpg') }}" />
    </div>
    <div id="image_slider_thumbnails">
        <img class="imageSliderThumbnail" src="{{ asset('images/buffet.jpg') }}" />
        <img class="imageSliderThumbnail" src="{{ asset('images/paella.jpg') }}" />
        <img class="imageSliderThumbnail" src="{{ asset('images/spaghetti.jpg') }}" />
        <img class="imageSliderThumbnail" src="{{ asset('images/paella.jpg') }}" />
        <img class="imageSliderThumbnail" src="{{ asset('images/spaghetti.jpg') }}" />
    </div>
</div>-->
<div id="image_slider"></div>
<br><br><br>
<div id="testDiv" style="display: flex; flex-wrap: nowrap; flex-direction: row; justify-content: center;">
    <div class="testClass" style="margin-left: 10px; border: 1px solid black; background-color: cornflowerblue; width: 20px; height: 20px;"></div>
    <div class="testClass" style="margin-left: 10px; border: 1px solid black; background-color: cornflowerblue; width: 20px; height: 20px;"></div>
    <div class="testClass" style="margin-left: 10px; border: 1px solid black; background-color: cornflowerblue; width: 20px; height: 20px;"></div>
    <div class="testClass" style="margin-left: 10px; border: 1px solid black; background-color: cornflowerblue; width: 20px; height: 20px;"></div>
    <div class="testClass" style="margin-left: 10px; border: 1px solid black; background-color: cornflowerblue; width: 20px; height: 20px;"></div>
</div>
<footer>
    <style>
        .starsLightenedSelected {
        }
    </style>
    <script src="assets/js/utility.js"></script>
    <script>
        $(document).ready(function () {
            console.log($("#testDiv div"));
            $("#testDiv div").on("mouseenter", function () {
                $("#testDiv div").css("background-color", "cornflowerblue");
                $(this).css("background-color", "gold").prevAll().css("background-color", "gold");
            }).on("mouseleave", function () {
                $("#testDiv div:not(.starsLightenedSelected)").css("background-color", "cornflowerblue");
                $("#testDiv div.starsLightenedSelected").css("background-color", "gold");
            }).on("click", function () {
                $("#testDiv div").removeClass("starsLightenedSelected");
                $(this).addClass("starsLightenedSelected").css("background-color", "gold")
                .prevAll().addClass("starsLightenedSelected").css("background-color", "gold");

            });

            const images = [
            "{{ asset('images/img1.png') }}",
            "{{ asset('images/img2.png') }}",
            "{{ asset('images/img3.png') }}",
            "{{ asset('images/img4.png') }}",
            "{{ asset('images/img5.png') }}",
            "{{ asset('images/img6.png') }}",
            "{{ asset('images/img7.png') }}",
            "{{ asset('images/img8.png') }}",
            "{{ asset('images/img9.png') }}",
            "{{ asset('images/img10.png') }}",
            "{{ asset('images/img11.png') }}",
            "{{ asset('images/img12.png') }}",
            "{{ asset('images/img13.png') }}",
            "{{ asset('images/img14.png') }}",
            "{{ asset('images/img15.png') }}",
            "{{ asset('images/img16.png') }}"
            ];

            let thumbnail = $("#image_slider").buildSlider(images).startSlider();
        });
    </script>
</footer>
{% endblock %}
