{% extends 'base.html.twig' %}

{% block title %}Change password{% endblock %}

{% block body %}

<div class="container">
    {% if status and status is defined and status == 200 %}
        {{ form_start(form) }}
            {{ form_row(form.password) }}
            {{ form_row(form.oldPassword) }}
            {{ form_row(form.submitButton) }}
        {{ form_end(form) }}
    {% endif %}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label == 'success' ? 'success' : 'danger' }} mt-3" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
</div>

{% endblock %}
